<html>
<head>
    <title>iGreet - Application to remember your friends special occasion</title>
    <link rel="stylesheet" href="../../assets/css/style.css"/>
</head>
    <body>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Friends</a></li>
                <li><a href="#">Occasions</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </nav>

        <div class="main-wrapper">
            <!-- MAIN CONTENT HERE -->
        </div>

        <footer>
            Copyrights here..
        </footer>
    </body>
</html>